@model int
@{
    var action = (Model == 0)?"Create":"Edit";
}
<div class="row">
    <div class="col">
        <button type="submit" class="btn btn-primary form-control" asp-route-id="@Model">@action</button>
    </div>
    <div class="col">
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
</div>